html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #707070;
    background-color: #f7f5f5;
}

header {
    padding: 50px;
    text-align: center;
}
  
.btn, .btn a, .btn div, .btn button{
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn {
    top: 250px;
}

#sign-up {
    top: 30px;
}

#sign-in {
    top: 90px;
}

#dividing-line{
    top: 150px;
    border-bottom: #707070 1px solid;
    display: block;
    font-size: 15px;
    font-weight: 100;
    width: 600px;
}

#sign-unknown {
    top: 200px;
    font-size: 20px;
    width: 300px;
    cursor: pointer;
}

.btn a, .btn button {
    width: 100px;
    font-size: 25px;
    font-weight: 100;
    color: #707070;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    border: #707070 solid 1px;
    border-radius: 47px;
}

.btn a:hover, .btn button:hover{
    color: #5c5a5a;
    font-weight: 300;
    border: solid #5c5a5a 2px;
}

#admin{
    float: right;
    top:150px;
	right:40px;
    display: block;
    width: 100px;
    font-size: 20px;
    font-weight: 200;
}