footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#card {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    position: relative;
}
#card-background, #card-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#card-input {
    z-index: 10 ;
    /* display: inline-flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 190px;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 220px 60px;
    grid-template-rows: 40px;
    gap: 10px;
}

#card-number, #card-number input, 
#cardholder, #cardholder input {
    width: 220px;
}

#card-expiration, #card-expiration input, 
#card-cvv, #card-cvv input {
    width: 60px;
}

#card-input h1, #card-input input {
    color: white;
    /* background-color: #707070; */
    text-align: left;
    font-size: 13px;
    font-weight: 130;
    padding: 0;
    margin: 0;
}

#card-input input {
    font-size: 20px;
    font-weight: 400;
    border: #f7f5f5 solid 0.5px;
    background-color: #7c7c7c;
}


#shipping-address{
    padding: 280px 20px;
    position: relative;
}

#shipping-address div h1{
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    margin: 5px;
}

#shipping-address div input {
    font-size: 20px;
    font-weight: 300;
    color: #707070;
    text-decoration: none;
    display: block;
    padding: 5px;
    border: #707070 solid 0.5px;
    margin-bottom: 10px;
}

.pay h1 {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: #bababa;
    /* float: right; */
    position: fixed;
    bottom:60px;
	right:40px;
    padding: 5px 10px 5px 10px;
    margin-right: 30px;
    border-radius: 10px;
    text-align: center;
}
.pay h1:hover {
    background-color: #707070;
    cursor: pointer;
}

#auto-fill {
    position: fixed;
    bottom:150px;
	right:40px;
    display: block;
    width: 100px;
    font-size: 20px;
    font-weight: 200;
}



@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 300px 500px;
        justify-content: center;
        align-content: center;
        padding-bottom: 300px;
    }
    
    #card {
        margin-top: 60px;
    }

    #card-input {
        margin-top: 0; 
        margin-left: 25px;   
    }

    #shipping-address {
        display: grid;
        grid-template-columns: 200px 50px 80px;
        grid-auto-rows: repeat(4,80px);
        row-gap: 10px;
        padding: 50px 150px;
        justify-content: center;
        align-content: center;
    }

    #address, #address input {
        grid-column: span 3;
        width: 350px;
    }
    
    #firstname, #firstname input{
        grid-column: 1;
        width: 150px;
    }

    #city, #city input, #phone, #phone input {
        grid-column: span 2;
        width: 200px;
    }

    #lastname, #lastname input{
        grid-column: 2/-1;
        width: 150px;
    }

    #state, #state input, #zip, #zip input {
        grid-column: 3;
        width: 100px;
    }


}