html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #707070;
    background-color: #f7f5f5;
}

header h1 {
    text-align: center;
    height: 100px;
    padding-top: 100px;
    font-size: 40px;
}

section {
    position: absolute;
    top: 350px;
    left: 50%;
    text-align: left;
    font-size: 25px;
    font-weight: 100;
    transform: translate(-50%, -50%);
}

#username, #password, #password2, #btn-sign-up, #btn-sign-in {
    width: 300px;
    font-size: 25px;
    font-weight: 100;
    color: #707070;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    border: #707070 solid 1px;
    border-radius: 47px;
    padding-bottom: 10px;
}

#btn-sign-up, #btn-sign-in {
    margin-top: 40px;
    margin-left: 100px;
    width: 100px;
    text-align: center;
    background-color: white;
}

#btn-sign-up:hover, #btn-sign-in:hover {
    color: #5c5a5a;
    font-weight: 300;
    border: solid #5c5a5a 2px;
    margin-top: 38px;
    margin-left: 99px;
    cursor: pointer;
}